<aside class="fixed top-16 w-60 bg-gray-50 h-screen shadow-lg border border-gray-200">
    <ul>
      <li [routerLink]="'/'" class="p-3 cursor-pointer text-blue-900" routerLinkActive="bg-cyan-100 border-l-4 border-cyan-500 text-blue-950 font-semibold" [routerLinkActiveOptions]="{exact: true}">All</li>
      <li [routerLink]="'/important-tasks'" class="p-3 cursor-pointer text-blue-900" routerLinkActive="bg-cyan-100 border-l-4 border-cyan-500 text-blue-950 font-semibold">Important</li>
      <li [routerLink]="'/completed-tasks'" class="p-3 cursor-pointer text-blue-900" routerLinkActive="bg-cyan-100 border-l-4 border-cyan-500 text-blue-950 font-semibold">Completed</li>
    </ul>
 </aside>